<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>


<div class="col-md-8 col-md-offset-2">
    <ul>
        <li th:each="author : ${authors}">
            <a th:href="@{'/author_novels/'+${author.getAuthorName()}}" th:text="${author.getAuthorName()}" />
            <div th:text="${author.getIntroduce()}"></div>
        </li>
    </ul>
</div>


<!--<table border="1">
    <tr><td>Author Name</td><td>Introduce</td></tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.getAuthorName()}"/>
        <td th:text="${author.getIntroduce()}">
    </tr>
</table>-->
</tbody>
<p>
<div><a href="/upload">Import files</a></div>
</p>
<p>
<div><a href="/novels">Novel List</a></div>
</p>
<p>
<div><a href="/authors">Author List</a></div>
</p>
<p>
<div><a href="/publishers">Publisher List</a></div>
</p>
</body>
</html>