<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tbody>
<!--<span th:text="${authors}">-->
<div class="col-md-8 col-md-offset-2">
    <ul>
        <li th:each="novel : ${novels}">
            <a th:href="@{'/novel/'+${novel.getId()}}" th:text="${novel.getName()}" /><br/>
            <a th:href="@{'/author/'+${novel.getAuthor().getId()}}" th:text="${novel.getAuthor().getAuthorName()}" />
<!--            <div th:text="${novel.getGenre()}"/>
            <div th:text="${novel.getIsbn()}"/>
            <div th:text="${novel.getLanguage()}"/>
            <div th:text="${novel.getPages()}"/>
            <div th:text="${novel.getPrice()}"/>
            <div th:text="${novel.getProductDimensions()}"/>
            <div th:text="${novel.getPublishDate()}"/>
            <div th:text="${novel.getWeight()}"/>
            <div th:text="${novel.getRemark()}"/>-->
        </li>
    </ul>
</div>
    <!--
<table border="1">
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
        <th>ISBN</th>
        <th>Language</th>
        <th>Pages</th>
        <th>Price</th>
        <th>Product Dimensions</th>
        <th>Publish Date</th>
        <th>Weight</th>
        <th>Remark</th>
    </tr>
    <tr th:each="novel : ${novels}">
        <td th:text="${novel.getName()}"/>
        <td th:text="${novel.getAuthor().getAuthorName()}"/>
        <td th:text="${novel.getGenre()}"/>
        <td th:text="${novel.getIsbn()}"/>
        <td th:text="${novel.getLanguage()}"/>
        <td th:text="${novel.getPages()}"/>
        <td th:text="${novel.getPrice()}"/>
        <td th:text="${novel.getProductDimensions()}"/>
        <td th:text="${novel.getPublishDate()}"/>
        <td th:text="${novel.getWeight()}"/>
        <td th:text="${novel.getRemark()}"/>
    </tr>
</table>-->
</tbody>
<p>
<div><a href="/upload">Import files</a></div>
</p>
<p>
<div><a href="/novels">Novel List</a></div>
</p>
<p>
<div><a href="/authors">Author List</a></div>
</p>
<p>
<div><a href="/publishers">Publisher List</a></div>
</p>
</body>
</html>