<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<div class="col-md-8 col-md-offset-2">
    <ul>
        <li th:each="publisher : ${publishers}">
            <a th:href="@{'/publisher_novels/'+${publisher.getId()}}" th:text="${publisher.getName()}" />
            <div th:text="${publisher.getRemark()}"></div>
        </li>
    </ul>
</div>
<!--<table border="1">
    <tr><td>Publisher Name</td><td>Introduce</td></tr>
    <tr th:each="publisher : ${publishers}">
        <td th:text="${publisher.getName()}"/>
        <td th:text="${publisher.getRemark()}">
    </tr>
</table>-->
</tbody>
<p>
<div><a href="/upload">Import files</a></div>
</p>
<p>
<div><a href="/novels">Novel List</a></div>
</p>
<p>
<div><a href="/authors">Author List</a></div>
</p>
<p>
<div><a href="/publishers">Publisher List</a></div>
</p>
</body>
</html>