<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Import Novel Information</title>
</head>
<body>
<form action="/import" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Import</button>
</form>
<p>
<div><a href="/upload">Import files</a></div>
</p>
<p>
<div><a href="/novels">Novel List</a></div>
</p>
<p>
<div><a href="/authors">Author List</a></div>
</p>
<p>
<div><a href="/publishers">Publisher List</a></div>
</p>
</body>
</html>